{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "settings": {
        "ecmascript": 6
    },
    "extends": "eslint:recommended"
}
