@import url('https://fonts.googleapis.com/css?family=Audiowide');

:root {
  --primary: #333;
  --background: #9AC503;
  --scale-size: 5px;
  --snake-part-size: 15px;
}

body {
  background-color: var(--background);
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 450px;

  color: var(--primary);
  font-family: 'Audiowide', sans-serif;
}

.game__title {
  letter-spacing: 3px;
}

.game__score {
  align-self: flex-end;

  font-family: 'Audiowide', sans-serif;
}

.maze {
  position: relative;

  border: var(--snake-part-size) solid var(--primary);
}

.snake__body {
  height: var(--snake-part-size);
  position: absolute;
  width: var(--snake-part-size);

  background-color: var(--primary);
}

.snake__body:not(:last-child):before,
.snake__body:not(:last-child):after {
  content: ' ';
  display: block;
  height: var(--scale-size);
  width: var(--scale-size);

  background-color: var(--background);
}

.snake__body:after {
  margin-left: calc(var(--snake-part-size) - var(--scale-size));
  margin-top: calc(var(--snake-part-size) - var(--scale-size) * 2);
}

.snake__body:first-child:after {
  margin-left: 0;
}
.food {
  height: var(--snake-part-size);
  position: absolute;
  width: var(--snake-part-size);

  background-color: var(--primary);
  transform: rotate(45deg) scale(0.5);
}
