:root {
  --black: #000;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 450px;
}

.game__score {
  align-self: flex-end;
}

.maze {
  position: relative;

  border: 2px solid var(--black);
}

.snake {
}

.snake__body {
  height: 15px;
  position: absolute;
  width: 15px;

  background-color: var(--black);
}

.food {
  height: 15px;
  position: absolute;
  width: 15px;

  background-color: var(--black);
  transform: rotate(45deg) scale(0.5);
}
