@import url('https://fonts.googleapis.com/css?family=Audiowide');

:root {
  --primary: #417778;
  --secondary: #121E2E;
  --background: #EBE7D3;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 450px;

  color: var(--secondary);
  font-family: 'Audiowide', sans-serif;
}

.game__title {
}

.game__score {
  align-self: flex-end;

  font-family: 'Audiowide', sans-serif;
}

.maze {
  position: relative;

  border: 2px solid var(--primary);
}

.snake {
}

.snake__body {
  height: 15px;
  position: absolute;
  width: 15px;

  background-color: var(--primary);
}

.food {
  height: 15px;
  position: absolute;
  width: 15px;

  background-color: var(--primary);
  transform: rotate(45deg) scale(0.5);
}
